<!DOCTYPE html>
<html lang="en">
    {% include 'header.html' %}
    <body>
        <div class="container">
            {% include 'menus.html' %}
            <br>
            <h3>Registered Users</h3>
            <br>
            <ul class="list-group">
                {% for user in users %}
                <li class="list-group-item">
                    <strong>Username:</strong> {{ user.username }}<br>
                    <strong>Email:</strong> {{ user.email }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </body>
</html>
